.Mains{
    background-color: brown;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: black;
    padding: 10px;
    align-items: center;
    

}
.navbar{
    background-color: aqua;
    padding: 5px;
    display:;



}